version: '3.8'  # Specify the Docker Compose version

services:
  rithmo:
    image: rithmo
    container_name: rithmo
    ports:
      - "127.0.0.1:8001:8000"  # Map host port 8000 to container port 8000
    environment:
      - DEBUG=True  # Set environment variables if needed
      - TZ=Asia/Tehran  # Set timezone to Tehran
    volumes:
       - /docker/files/libermaze/rithmo/media:/app/media
    env_file:
      - /docker/files/libermaze/rithmo/env/.env
    networks:
      - iapps

networks:
  iapps:
    external: true